extends ../layout/common
block content

  h1 Create user

  if errors
    each error in errors 
      .alert.alert-danger= error

  form(action="/users/create", method="POST")
    .form-group
      label(for="email") Email
      input(id="email", class="form-control", name="email", type="email", placeholder="Input email", value=values ? values.email: "")
    .form-group
      label(for="password") Password
      input(id="password", class="form-control", name="password", type="password", placeholder="Input password", value=values ? values.password: "")
    .form-group
      label(for="name") Name
      input(id="name", class="form-control", name="name", type="text", placeholder="Input name", value=values ? values.name: "")
    .form-group
      label(for="phone") Phone
      input(id="phone", class="form-control", name="phone", type="text", placeholder="Input phone", value=values ? values.phone: "")
    .form-group
      label(for="avatar") Avatar
      input(id="avatar", class="form-control-file", name="avatar", type="file")
    
    button.btn.btn-primary.ml-2 Create